#charts{
    font-family: 'Spartan';
    margin: 5% 5%;
    font-family: 'Spartan';
}

h1{
    font-family: 'Spartan';
    text-align: center;
}

canvas {
     margin-bottom: 5%;
}

mat-spinner{
    margin-top: 5%;
}